
@media all and (max-width: 430px) {
    #about_section{
        flex-direction: column;
        height: 580px;
        top: 55px;
        align-items: flex-start;
    }
    #details{
        justify-content: start;
        align-items: start;
    }
    #details h3{
        font-size: 15px;
    }
    #about p{
        font-size: 15px;
    }
    #about h3{
        font-size: 20px;
    }
    .service_item p{
        font-size: 12px;
    }
    .service_item h2{
        font-size: 15px;
    }
    #title h2{
        font-size: 25px;
    }
    #project{
        grid-template-columns: repeat(1,1fr);
    }
}

@media all and (max-width: 768px) {
    #icon{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(47, 54, 64);
        top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        left: -1000%;
        transition: 1s;
    }
    nav li{
        display: block;
        margin: 25px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    #h1_hed{
        font-size: 25px;
    }
    #p_hed{
        font-size: 15px;
    }
    #service_body{
       display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #service {
        position: relative;
        width: 100%;
        height: 130vh
    }
    #work_expertise{
        top: 0;
        position: relative;
    }
    #my_project{
        position: relative;
        top: 200px;
    }
    .expertise{
        grid-template-columns: repeat(2, 3fr);
        grid-gap: 2em;
    }
    #title{
        margin-top: 75px;
    }
    #project{
        grid-template-columns: repeat(2,1fr);
    }
    #contact_me{
        position: relative;
        top: 200px;
    }
    .con_box{
        flex-direction: column;
        top: 360px;
        position: relative;
    }
    .d-f{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer{
        height: 70vh;
        top: 1050px;
    }
}
@media all and (max-width: 1250px) {
    #about_section{
        flex-direction: column;
        height: 580px;
        top: 55px;
        align-items: flex-start;
    }
    #details{
        justify-content: start;
        align-items: start;
    }
    #service{
        top: 55px;
    }
    #service_body{
        top: 78px;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2em;
        position: relative;
    }
    #work_image{
        display: none;
    }
    .con_box{
        justify-content: space-evenly;
    }
    #work_ex{
        position: relative;
        top: 150px;
    }
    #my_project{
        position: relative;
        top: 200px;
    }
    #contact_me{
        position: relative;
        top: 237px;
        height: 83vh;
    }
    .footer{
        position: relative;
        bottom: -222px;
    }
}