* {
    margin: 0;
    padding: 0;
    font-family: 'Iceland', cursive;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

nav {
    position: fixed;
    height: 35px;
    width: 100%;
    background-color: black;
    z-index: 1;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin: 20px;
}

nav ul {
    float: right;
    top: 0;
    margin-right: 15px;
    margin-top: 5px;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#icon {
    width: 20px;
    height: 20px;
    background-image: url("../img/icons8-menu-100.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
    float: right;
    display: none;
}

/*-----------------------------------------------------------------*/
.bg {
    position: relative;
    width: 100%;
    height: 85vh;
    background: linear-gradient(rgba(0, 0, 0, 0.71), rgba(0, 0, 0, 0.7)), url("../img/main_background_01.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*    font-family: 'Iceland', cursive;*/
#my_image {
    width: 150px;
    height: 150px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/my_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
}

#h1_hed {
    color: white;
    font-size: 45px;
    margin: 0;
}

#p_hed {
    color: white;
    font-size: 20px;
}

.button {
    width: 250px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button div {
    background-color: blue;
    width: 50%;
    height: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.button a{
    text-decoration: none;
    color: white;
}

/*------------------------------------------------------------*/
#about_section {
    position: relative;
    width: 80%;
    height: 250px;
    top: -120px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/*font-family: 'Imperial Script', cursive;*/
#details{
    width: 20%;
    margin: 10px;
}
#about{
    width: 80%;
    padding: 30px;
}
#about p{
    font-family: 'Imperial Script', cursive;
    font-size: 25px;
    font-weight: bold;
}
#about h3{
    float: right;
    margin-right: 20px;
    font-family: 'Imperial Script', cursive;
    font-size: 25px;
    font-weight: bold;
}
#service{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#service_hed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#service_body{
    width: 80%;
    height: 85%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}
.service_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service_item a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
.service_image{
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px;
}
.web{
    background-image: url("../img/service_icon/icons8-monitor-64.png");
}
.mobile{
    background-image: url("../img/service_icon/icons8-phone-64.png");
}
.desktop{
    background-image: url("../img/service_icon/icons8-monitor-64 (1).png");
}
.graphic{
    background-image: url("../img/service_icon/icons8-graphic-64.png");
}
.e-commerce{
    background-image: url("../img/service_icon/icons8-e-commerce-64.png");
}
/*----------------------------------------*/
#work_expertise{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#work_image{
    width: 50%;
    height: 100%;
    background-image: url("../img/ok.jpg");
    background-size: cover;
    background-position: center;
}
#work_ex{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#title{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#title h2{
    font-size: 35px;
}
.expertise{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 3em;
    height: 80%;
}
.ex_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ex_item h4{
    color: blue;
    font-size: 20px;
}
.ex_image{
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.react{
    background-image: url("../img/ex_icon/icons8-react-80.png");
}
.bootstrap{
    background-image: url("../img/ex_icon/icons8-bootstrap-48.png");
}
.redux{
    background-image: url("../img/ex_icon/icons8-redux-48.png");
}
.html{
    background-image: url("../img/ex_icon/icons8-html-5-48.png");
}
.css{
    background-image: url("../img/ex_icon/icons8-css3-48.png");
}
.js{
    background-image: url("../img/ex_icon/icons8-node-js-48.png");
}
.node{
    background-image: url("../img/ex_icon/icons8-node-js-48.png");
}
.android{
    background-image: url("../img/ex_icon/icons8-android-os-48.png");
}
.java{
    background-image: url("../img/ex_icon/icons8-java-48.png");
}
.mongo{
    background-image: url("../img/ex_icon/icons8-mongodb-a-cross-platform-document-oriented-database-program-48.png");
}
.mysql{
    background-image: url("../img/ex_icon/icons8-mysql-logo-48.png");
}
/*-----------------------------------------------------------*/

#my_project{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#title_project{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#project{
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em;
}
.my_projects{
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.tesla{
    background-image: url("../img/projects/tesla.png");
}
.google{
    background-image: url("../img/projects/google_clone.png");
}
.image{
    background-image: url("../img/projects/image_slider.png");
}
.lodging{
    background-image: url("../img/projects/loding_page.png");
}
.pos{
    background-image: url("../img/projects/pos.png");
}
.assigment{
    background-image: url("../img/projects/assingment_2.png");
}
/*---------------------------------------------------------------------*/
#contact_me{
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.con_box{
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.con_box h2{
    color: black;
}
.con_img{
    width: 265px;
    height: 265px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.phone{
     background-image: url("../img/phone.png");
 }
.website{
     background-image: url("../img/website.png");
 }
.email{
     background-image: url("../img/email.png");
 }
.github{
     background-image: url("../img/github.png");
 }
.con-text{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    width: 100%;
    height: 50vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer  h3,h2,p,li{
    color: white;
}
.foot-details{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}
.about-foot{
    width: 50%;
}
.foot-details div{
    margin: 20px;
}
.cp{
    margin: 20px;
}
.d-f{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}